body{
    margin:0; 
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size:0.75rem;
    color: #6096B4;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    margin: 50px auto 0 auto;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3{
    font-family: 'Montserrat', sans-serif;
}
p{
    color:#545454;
}
hr{
    border:dotted 6px #EEE9DA;
    border-bottom: none;
    width:4%;
    margin:100px auto 100px auto;
}
.top-container{
    background-color: #93BFCF;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    padding-top: 100px;
    background-color: #BDCDD6;
}

.bottom-container{
    padding-top: 25px;
    background-color: #EEE9DA;
    padding-bottom: 15px;
    line-height:2;
}

.profile{
    width:25%;
    margin:0 auto 0 auto;
    line-height:2;
}

.certification-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height:2;
}

.contact-me{
    width:40%;
    margin:0 auto 0 auto;
    line-height:2;
    padding-bottom: 50px;
}

.top-cloud{
    position:absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:200px;
}


.job-title-text{
    color: #6096B4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}


.copyright-text{
    color:#EAF6F6;
    font-size:0.75rem;
}

.img-mountain{
    width:35%;
}

.img-left{
    width:25%;
    float:left;
    margin-right: 50px;
    border-radius:50%;
}

.img-right{
    width:25%;
    float:right;
    margin-left: 50px;
    border-radius:50%;
}
.img-profile{
    width:50%;
    border-radius:50%;
}

.footer-link{
    color:#6096B4;
    font-family: 'Montserrat';
    text-decoration:none;
    font-weight:bold;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-link:hover{
    text-decoration:underline;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 20px;
    background: #6096B4;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #93BFCF;
    text-decoration: none;
  }